* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

@media screen and (max-width: 375px) {
  main {
    background-position: center top, center bottom;
  }
}

main .container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 575px;
  width: 1115px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 375px) {
  main .container-main {
    height: 1350px;
    width: 330px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .container-main .container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 375px) {
  main .container-main .container-top {
    height: 530px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .container-main .container-top #info {
  width: 450px;
}

@media screen and (max-width: 375px) {
  main .container-main .container-top #info {
    width: 330px;
  }
}

main .container-main .container-top #info #heading {
  font-weight: 700;
  color: #502050;
  font-size: 45px;
  padding-bottom: 10px;
}

@media screen and (max-width: 375px) {
  main .container-main .container-top #info #heading {
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
  }
}

main .container-main .container-top #info #heading .review-card:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .container-main .container-top #info #heading .review-card:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .container-main .container-top #info #sub-heading {
  color: #937b92;
  line-height: 1.5em;
  word-spacing: 0.01em;
}

@media screen and (max-width: 375px) {
  main .container-main .container-top #info #sub-heading {
    text-align: center;
    word-spacing: normal;
    font-size: 14px;
    line-height: 1.7em;
  }
}

main .container-main .container-top #rating-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 545px;
}

@media screen and (max-width: 375px) {
  main .container-main .container-top #rating-section {
    width: 330px;
    height: 270px;
  }
}

main .container-main .container-top #rating-section .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 60px;
  background-color: #f7f2f7;
  border-radius: 8px;
  color: #502050;
  font-weight: 700;
}

@media screen and (max-width: 375px) {
  main .container-main .container-top #rating-section .rating {
    width: 330px;
    height: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

main .container-main .container-top #rating-section .rating .star-icons {
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (min-width: 375px) {
  main .container-main .container-top #rating-section .rating:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .container-main .container-top #rating-section .rating:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

main .container-main .container-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 265px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 375px) {
  main .container-main .container-bot {
    height: 780px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .container-main .container-bot .review-card {
  height: 235px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #502050;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 375px) {
  main .container-main .container-bot .review-card {
    height: 250px;
    width: 330px;
  }
}

main .container-main .container-bot .review-card .review-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container-main .container-bot .review-card .review-profile img {
  width: 50px;
  border-radius: 50%;
}

main .container-main .container-bot .review-card .review-profile div {
  padding-left: 20px;
}

main .container-main .container-bot .review-card .review-profile div .username {
  color: white;
  font-weight: 500;
  padding-bottom: 4px;
}

main .container-main .container-bot .review-card .review-profile div .buyer-id {
  color: #ee68a4;
}

main .container-main .container-bot .review-card .review-text {
  color: #f7f2f7;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
}

@media screen and (min-width: 375px) {
  main .container-main .container-bot .review-card:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .container-main .container-bot .review-card:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*# sourceMappingURL=styles.css.map */