// Styling variables
// Device widths
$mobile-width: 375px;
$desktop-width: 1440px;

// Typography
$font-size-standard: 15px;
$family: "Spartan", sans-serif;
$weight-light: 400;
$weight-medium: 500;
$weight-heavy: 700;

// Colours
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}
